
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>AppGen</title>
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/ratchet-theme-ios.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/app.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
    <script src="{{ url_for('static',filename='js/ratchet.min.js') }}"></script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script>
  $(document).ready(function () {

    $('#test').val($('work'));


    if ({{num_apps}} > 1) {
        $("#app2").show();
    }
    if ({{num_apps}} > 2) {
        $("#app3").show();
    }
    if ({{num_apps}} > 3) {
        $("#app4").show();
    }
    if ({{num_apps}} > 4){
        $("#app5").show();
    }
    if ({{num_apps}} > 5) {
        $("#app6").show();
    }
    if ({{num_apps}} > 6) {
        $("#app7").show();
    }
    if ({{num_apps}} > 7) {
        $("#app8").show();
    }
    if ({{num_apps}} > 8) {
        $("#app9").show();
    }
    if ({{num_apps}} > 9) {
        $("#app10").show();
    }


    // $('#app1').click(function(){
    //     $('#app_name').val('App 1');
    // });
    // $('#app2').click(function(){
    //     $('#app_name').val('App 2');
    // });
    // $('#app3').click(function(){
    //     $('#app_name').val('App 3');
    // });
    // $('#app4').click(function(){
    //     $('#app_name').val('App 4');
    // });
    // $('#app5').click(function(){
    //     $('#app_name').val('App 5');
    // });
    // $('#app6').click(function(){
    //     $('#app_name').val('App 6');
    // });
    // $('#app7').click(function(){
    //     $('#app_name').val('App 7');
    // });
    // $('#app8').click(function(){
    //     $('#app_name').val('App 8');
    // });
    // $('#app9').click(function(){
    //     $('#app_name').val('App 9');
    // });
    // $('#app10').click(function(){
    //     $('#app_name').val('App 9');
    // });


  });
</script>


    <style>
    @keyframes width {
           0%, 100% {
           transition-timing-function: cubic-bezier(1, 0, 0.65, 0.85);
      }
      0% {
           width: 0%;
      }
       100% {
          width: 100%;
      }
    }
    </style>


  </head>
  <body>
    <header class="bar bar-nav">
        <a href="/homeFromCreate" data-transition="slide-out">
  <button class="btn btn-link btn-nav pull-left" onClick="location='/home/'">
    <span class="icon icon-left-nav"></span>
    Back

  </button>
    </a>
  <h1 class="title">Edit an Application</h1>


      <!-- Progress Bar -->
            <div class="containerlower">
              <div class="progress">
                <div class="progress-bar">

                </div>
              </div>
            </div>
  </header>


    <div class="content">

<br>
<p>Select an application</p>

<form id="test" method="POST" action="/editapp/">
      <ul class="table-view">
        <li class="table-view-cell" id="app1" onclick="document.getElementById('test').submit();">
          <a class="navigate-right" href="/editapp/">
            Application 1
            <p></p>
          </a>
        </li>
        <input type="text" id="app_name" name="app_name" value="app 1">

      </form>
      <form id="test2" method="POST" action="/editapp/">
        <li class="table-view-cell" id="app2" onClick="document.getElementById('test2').submit();" style="display:none">
          <a class="navigate-right" href="/editapp/">
            Application 2
            <p></p>
          </a>
        </li>
        <input type="text" id="app_name" name="app_name" value="app 2">

      </form>
        <li class="table-view-cell" id="app3" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="/editapp/">
            Application 3
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app4" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="/editapp/">
            Application 4
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app5" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#/editapp/">
            Application 5
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app6" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#">
            Application 6
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app7" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#">
            Application 7
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app8" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#">
            Application 8
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app9" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#">
            Application 9
            <p></p>
          </a>
        </li>
        <li class="table-view-cell" id="app10" onClick="location='/editapp/'" style="display:none">
          <a class="navigate-right" href="#">
            Application 10
            <p></p>
          </a>
        </li>
      </ul>
<input type="text" id="app_name" name="app_name" value="app 1">
<input type="text" value={{num_apps}}>
</form>

<form method="POST" action="/createapp/">
<div class="center">
  <input type="submit" idname="submit" class="submit" value="Create Application">
<input type="submit" name='test' id="test" class="submit" value="a">
</div>
</form>


    </div><!-- /.content -->
  </body>
</html>
